# This is a project definition file, a required component if you intend to use Snowflake CLI in a project directory such as this template.

definition_version: 1
native_app:
  package:
    name: test_boilerplate_package
  application:
    name: test_boilerplate_native_app
    debug: true
